body{
    background-color: gray;
}
/*
Global Styles

*/
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}