* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
} 
.wrapper {
	width: 500%;
	height: 500%;
    flex-direction: column; /* Stack divs vertically */
	display: flex;
}
.wrapper div {
	flex: 1;
	display: flex;
	flex-direction: row;
}
.wrapper div section {
    width: 100vw;
    min-height: 100vh;
}
 .div1, .div2, .div3, .div4, .div5 {
    display: flex;
    flex-direction: column; /* Revert back to horizontal direction */
  }
  .div1, .div2, .div3, .div4, .div5 {
    width: 500vw; /* Set the width of each div to 100% viewport width */
    height: 100vh; /* Set the height of each div to 100% viewport height */
  }
  /*overlay */
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent; /* semi-transparent black background */
    z-index: 9999; /* ensure that the overlay is on top of other elements */
  }
/*overlay buttons */
.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  button {
    background-color: transparent;
    border:transparent;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 0px;
    margin: 0px;
    font-display: transparent;

  }
  
  .topbutton {
    color: transparent;
    height: 5%;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 50%;
    right: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #1d1e22, rgba(29,30,34,0.4),transparent);
  }
  .bottombutton {
    height: 5%;
    width: 100%;
    position: fixed;
    left: 50%;
    right: 50%;
    bottom: 0%;
    top: 100%;
    background: linear-gradient(to top, #1d1e22, rgba(29,30,34,0.4),transparent);
    transform: translate(-50%, -50%);
  }
  .leftbutton {
    height: 100%;
    width: 3%;
    left: 0%;
    position: fixed;    
    bottom: 50%;
    top: 50%;
    right: 100%;
    background: linear-gradient(to right, #1d1e22, rgba(29,30,34,0.4),transparent);
    transform: rotate(-90deg);
    transform: translate(-50%, -50%);
  }
  .rightbutton {
    height: 100%;
    width: 3%;
    position: fixed;
    right: 0%;
    bottom: 50%;
    top: 50%;
    left: 100%;
    background: linear-gradient(to left, #1d1e22, rgba(29,30,34,0.4),transparent);
    transform: rotate(90deg);
    transform: translate(-50%, -50%);
  }
  
/*div1 */
.div1 {
	background-color: red;
    border: #1a1a1a;
}
.div1 .section1{
	background-color: #e6e6e6;
    opacity: 0.5;
}
.div1 .section2{
	background-color: #b3b3b3;
    opacity: 0.5;
}
.div1 .section3{
	background-color: #808080;
    opacity: 0.5;
}
.div1 .section4{
	background-color: #4d4d4d;
    opacity: 0.5;
}
.div1 .section5{
	background-color: #1a1a1a;
    opacity: 0.5;
}
/*div2 */
.div2 {
	background-color: orange;
    border: #1a1a1a;
}
.div2 .section1{
	background-color: #e6e6e6;
    opacity: 0.5;
}
.div2 .section2{
	background-color: #b3b3b3;
    opacity: 0.5;
}
.div2 .section3{
	background-color: #808080;
    opacity: 0.5;
}
.div2 .section4{
	background-color: #4d4d4d;
    opacity: 0.5;
}
.div2 .section5{
	background-color: #1a1a1a;
    opacity: 0.5;
}
/*div3 */
.div3 {
	background-color: yellow;
    border: #1a1a1a;
}
.div3 .section1{
	background-color: #e6e6e6;
    opacity: 0.5;
}
.div3 .section2{
	background-color: #b3b3b3;
    opacity: 0.5;
}
.div3 .section3{
	background-color: #808080;
    opacity: 0.5;
}
.div3 .section4{
	background-color: #4d4d4d;
    opacity: 0.5;
}
.div3 .section5{
	background-color: #1a1a1a;
    opacity: 0.5;
}
/*div4 */
.div4 {
	background-color: green;
    border: #1a1a1a;
}
.div4 .section1{
	background-color: #e6e6e6;
    opacity: 0.5;
}
.div4 .section2{
	background-color: #b3b3b3;
    opacity: 0.5;
}
.div4 .section3{
	background-color: #808080;
    opacity: 0.5;
}
.div4 .section4{
	background-color: #4d4d4d;
    opacity: 0.5;
}
.div4 .section5{
	background-color: #1a1a1a;
    opacity: 0.5;
}
/*div5 */
.div5 {
	background-color: blue;
    border: #1a1a1a;
}
.div5 .section1{
	background-color: #e6e6e6;
    opacity: 0.5;
}
.div5 .section2{
	background-color: #b3b3b3;
    opacity: 0.5;
}
.div5 .section3{
	background-color: #808080;
    opacity: 0.5;
}
.div5 .section4{
	background-color: #4d4d4d;
    opacity: 0.5;
}
.div5 .section5{
	background-color: #1a1a1a;
    opacity: 0.5;
}
















/*
OLD
*//*
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 500%;
	height: 500%;
	display: flex;
    color: transparent;
    background-color: transparent;
}

.wrapperw div {
	flex: 1;
	display: flex;
	flex-direction: row;
    color: transparent;
    background-color: transparent;
}

.wrapper div section {
    width: 100vw;
    min-height: 100vh;
    color: transparent;
    background-color: transparent;
}

.div1 {
	background-color: red;
}

.div2 {
	background-color: orange;
}

.div3 {
	background-color: yellow;
}

.div4 {
	background-color: green;
}

.div5 {
	background-color: blue;
}

.section1 {
	background-color: #e6e6e6;
}

.section2 {
	background-color: #b3b3b3;
}

.section3 {
	background-color: #808080;
}

.section4 {
	background-color: #4d4d4d;
}

.section5 {
	background-color: #1a1a1a;
}

 
 /*
 
 
 
 
 
 
 *//*
    MAIN BODY AND PROJECT LAYOUT    
 
 *//*
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 480%;
    height: 100%;
    display: flex;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    font-size: 1rem;
    z-index: 1;
    background-image: linear-gradient( #1d1e22, rgba(29,30,34,0.4),transparent);
}
header ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}
header ul li{
    margin:0 1rem;
    padding: 1rem;
}
header ul li a{
    position: relative;
    color: #1d1e22;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
header ul li a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
header ul li a:hover::after{
    width: 100%;
    background-color: #1d1e22;
}
section{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-image: url("pic1.jpg");
    background-size: cover;
}
 /*
 MAINBODY PROJECT LAYOUT UI
 *//*
section{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-image: url("pic1.jpg");
    background-size: cover;
}
button B1{
    background-color: blue;
    height: fit-content;
    width: 10vw;
 }
 */













/*
body {
        background-image: url(https://raw.githubusercontent.com/TubularHarp/TubularHarp.github.io/main/pictures/7bc7a5b5e98318c1923d4f7a344f7363-transformed%20.jpeg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed; 
}
/*
Global Styles

*//*
button {
   object-position: right;
   background-color: blue;
   height: max-content;
   width: 100vw;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:inherit;
}

/*
Header

*//*

header {
    background-color: transparent;
    padding: 1rem;

}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;

}
nav li {
    margin: 0 1rem;

}

header h1 {
    font-size: 5rem;

}

header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
}


.rotate {
    margin-top: 3rem;
    font-size: 3rem;
    opacity: 0.4;
}

/*
PARALLAX
*//*

.paralllax {
    background-image: url(https://raw.githubusercontent.com/TubularHarp/TubularHarp.github.io/main/pictures/7bc7a5b5e98318c1923d4f7a344f7363.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.paralllax ul {
    font-size: 1.8rem;
    padding: 1rem;

}

.paralllax li {
    margin: 2rem 0;

}
*/