
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 400%;
    height: 100%;
    display: flex;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    font-size: 1rem;
    z-index: 1;
    background-image: linear-gradient(1800deg, #1d1e22, rgba(29,30,34,0.4)transparent);
}

header ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}


header ul li{
    margin: 0 1rem;
   padding: 1rem;

}
header ul li a{
    position: relative;
    color: white;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

}

header ul li a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    transition: all 0.2 linear;
}




/*
body {
        background-image: url(https://raw.githubusercontent.com/TubularHarp/TubularHarp.github.io/main/pictures/7bc7a5b5e98318c1923d4f7a344f7363-transformed%20.jpeg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed; 
}
/*
Global Styles

*//*
button {
   object-position: right;
   background-color: blue;
   height: max-content;
   width: 100vw;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:inherit;
}

/*
Header

*//*

header {
    background-color: transparent;
    padding: 1rem;

}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;

}
nav li {
    margin: 0 1rem;

}

header h1 {
    font-size: 5rem;

}

header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
}


.rotate {
    margin-top: 3rem;
    font-size: 3rem;
    opacity: 0.4;
}

/*
PARALLAX
*//*

.paralllax {
    background-image: url(https://raw.githubusercontent.com/TubularHarp/TubularHarp.github.io/main/pictures/7bc7a5b5e98318c1923d4f7a344f7363.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}

.paralllax ul {
    font-size: 1.8rem;
    padding: 1rem;

}

.paralllax li {
    margin: 2rem 0;

}
*/