body {
    background-color: gray;
}
/*
Global Styles

*/
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:inherit;
}

/*
Header

*/

header {
    background-color: transparent;
    padding: 1rem;
    height: 20vh;

}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;

}
nav li {
    margin: 0 1rem;

}

header h1 {
    font-size: 5rem;

}

header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
}


.rotate {
    margin-top: 3rem;
    font-size: 3rem;
    opacity: 0.4;
}

/*
PARALLAX
*/

.paralllax {
    background-image:url(https://raw.githubusercontent.com/TubularHarp/TubularHarp.github.io/main/pictures/336a9b57164cdd417afa660e0de1e800.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.paralllax ul {
    font-size: 1.8rem;
    padding: 1rem;

}

.paralllax li {
    margin: 2rem 0;

}